# editors
*~
*.swp
.idea
.project
.classpath
.factorypath
.apt_generated
.settings
*.sublime-project
*.sublime-workspace

# Build tools
build-local.properties
deps
/bin
build
.gradle
target
GTAGS
GRTAGS
GPATH
prop
out
.vs/

# cmake

codecs

# cpp build linux
cppbuild/CMakeCache.txt
cppbuild/CMakeFiles/
cppbuild/CTestTestfile.cmake
cppbuild/Makefile
cppbuild/Testing/
cppbuild/aeron-common/
cppbuild/aeron-samples/
cppbuild/binaries/
cppbuild/cmake_install.cmake

# cpp build windows
cppbuild/*.opensdf
cppbuild/*.sdf
cppbuild/*.sln
cppbuild/*.suo
cppbuild/*.vcxproj
cppbuild/*.filters
cppbuild/*.lastbuildstate
cppbuild/*.tlog
cppbuild/*.log
cppbuild/*.cache
cppbuild/Debug
cppbuild/Release
cppbuild/Win32

# golang
gocode/pkg
gocode/src/baseline/*.go
!gocode/src/baseline/*_test.go
gocode/src/baseline-bigendian/*.go
!gocode/src/baseline-bigendian/*_test.go
gocode/src/composite/*.go
!gocode/src/composite/*_test.go
gocode/src/composite_elements/*.go
!gocode/src/composite_elements/*_test.go
gocode/src/since-deprecated/*.go
!gocode/src/since-deprecated/*_test.go
gocode/src/group_with_data*/*.go
!gocode/src/group_with_data*/*_test.go
gocode/src/mktdata/*.go
!gocode/src/mktdata/*_test.go
gocode/src/simple/*.go
!gocode/src/simple/*_test.go
gocode/src/issue*/*.go
!gocode/src/issue*/*_test.go
gocode/src/*/*/*.go
!gocode/src/*/*/*_test.go
gocode/src/example-schema/example-schema*
gocode/src/example-schema/cpu.out
gocode/src/example-socket-clientserver/example-socket-clientserver
gocode/src/extension
gocode/src/extension2

# csharp
csharp/*/bin
csharp/*/obj
csharp/.nuget/nuget.exe
csharp/.nuget/sbe-tool*.nupkg
csharp/.nuget/sbe-tool-all.jar
csharp/.nuget/examples/bin
csharp/.nuget/examples/obj
csharp/.nuget/examples/packages
csharp/.nuget/examples/.vs
csharp/.vs
csharp/TestResults
csharp/packages
csharp/sbe-generated/baseline
csharp/sbe-generated/baseline-bigendian
csharp/sbe-generated/extension
csharp/sbe-generated/issue435
csharp/sbe-generated/issue483
csharp/sbe-generated/issue560
csharp/sbe-generated/issue661
csharp/sbe-generated/since-deprecated
csharp/sbe-generated/mktdata/*.cs
csharp/sbe-generated/uk_co_real_logic_sbe_benchmarks_fix

# rust
rust/car_example/.vscode
rust/car_example/car_example_data.sbe
rust/car_example/Cargo.lock
rust/car_example/src/car_example_generated_codec.rs
rust/car_example/target

# Mac
.DS_Store
/sbe-tool/src/main/golang/uk_co_real_logic_sbe_ir_generated/
