# editors
*~
*.swp
.project
.classpath
.factorypath
.apt_generated
.settings
*.sublime-project
*.sublime-workspace

# intellij
.idea
*.iml
*.ipr
*.iws

# Build tools
build-local.properties
deps
*/bin
build
.gradle
target
GTAGS
GRTAGS
GPATH
prop
out
.vs/
.vscode

# cmake
cmake-build-debug
codecs
.cmake
CMakeFiles
thirdparty

# cpp build linux
cppbuild/CMakeCache.txt
cppbuild/CMakeFiles/
cppbuild/CTestTestfile.cmake
cppbuild/Makefile
cppbuild/Testing/
cppbuild/aeron-common/
cppbuild/aeron-samples/
cppbuild/binaries/
cppbuild/cmake_install.cmake

# cpp build windows
cppbuild/*.opensdf
cppbuild/*.sdf
cppbuild/*.sln
cppbuild/*.suo
cppbuild/*.vcxproj
cppbuild/*.filters
cppbuild/*.lastbuildstate
cppbuild/*.tlog
cppbuild/*.log
cppbuild/*.cache
cppbuild/Debug
cppbuild/Release
cppbuild/Win32

# golang
gocode/pkg
gocode/src/struct/baseline/*.go
!gocode/src/struct/baseline/*_test.go
gocode/src/struct/baseline-bigendian/*.go
!gocode/src/struct/baseline-bigendian/*_test.go
gocode/src/struct/composite/*.go
!gocode/src/struct/composite/*_test.go
gocode/src/struct/composite_elements/*.go
!gocode/src/struct/composite_elements/*_test.go
gocode/src/struct/since-deprecated/*.go
!gocode/src/struct/since-deprecated/*_test.go
gocode/src/struct/group_with_data*/*.go
!gocode/src/struct/group_with_data*/*_test.go
gocode/src/struct/mktdata/*.go
!gocode/src/struct/mktdata/*_test.go
gocode/src/struct/simple/*.go
!gocode/src/struct/simple/*_test.go
gocode/src/struct/issue*/*.go
!gocode/src/struct/issue*/*_test.go
gocode/src/struct/*/*/*.go
!gocode/src/struct/*/*/*_test.go
gocode/src/struct/example-schema/example-schema*
gocode/src/struct/example-schema/cpu.out
gocode/src/struct/example-socket-clientserver/example-socket-clientserver
gocode/src/struct/extension
gocode/src/struct/extension2
gocode/src/flyweight/baseline/*.go
!gocode/src/flyweight/baseline/*_test.go
gocode/src/flyweight/baseline-bigendian/*.go
!gocode/src/flyweight/baseline-bigendian/*_test.go
gocode/src/flyweight/composite/*.go
!gocode/src/flyweight/composite/*_test.go
gocode/src/flyweight/composite_elements/*.go
!gocode/src/flyweight/composite_elements/*_test.go
gocode/src/flyweight/since-deprecated/*.go
!gocode/src/flyweight/since-deprecated/*_test.go
gocode/src/flyweight/group_with_data*/*.go
!gocode/src/flyweight/group_with_data*/*_test.go
gocode/src/flyweight/mktdata/*.go
!gocode/src/flyweight/mktdata/*_test.go
gocode/src/flyweight/simple/*.go
!gocode/src/flyweight/simple/*_test.go
gocode/src/flyweight/issue*/*.go
!gocode/src/flyweight/issue*/*_test.go
gocode/src/flyweight/*/*/*.go
!gocode/src/flyweight/*/*/*_test.go
gocode/src/flyweight/example-schema/example-schema*
gocode/src/flyweight/example-schema/cpu.out
gocode/src/flyweight/example-socket-clientserver/example-socket-clientserver
gocode/src/flyweight/extension
gocode/src/flyweight/extension2

# csharp
csharp/*/bin
csharp/*/obj
csharp/.vs
csharp/TestResults
csharp/sbe-generated/baseline
csharp/sbe-generated/baseline-bigendian
csharp/sbe-generated/extension
csharp/sbe-generated/issue435
csharp/sbe-generated/issue483
csharp/sbe-generated/issue560
csharp/sbe-generated/issue661
csharp/sbe-generated/since-deprecated
csharp/sbe-generated/order_check
csharp/sbe-generated/mktdata/*.cs
csharp/sbe-generated/uk_co_real_logic_sbe_benchmarks_fix
csharp/sbe-tests/*.sbe
csharp/nuget/
csharp/csharp.sln.DotSettings.user

# rust
rust/target
rust/Cargo.lock

# Mac
.DS_Store
/sbe-tool/src/main/golang/uk_co_real_logic_sbe_ir_generated/

# JQwik
*.jqwik-database

/generated/
