# editors
*~
*.swp
.idea
*.iml
.project
.classpath
.factorypath
.apt_generated
.settings
*.sublime-project
*.sublime-workspace

# Build tools
build-local.properties
deps
/bin
build
.gradle
target
GTAGS
GRTAGS
GPATH
prop
out

# cmake
CMakeFiles
*.cmake
lib
gtest-prefix
CMakeCache.txt
Makefile
binaries
codecs
Testing

# Mac
.DS_Store
