<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.real_logic.sbe.android.test"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <instrumentation
        android:name="com.uphyca.testing.JUnit4XMLInstrumentationTestRunner"
        android:targetPackage="uk.co.real_logic.sbe.android.test" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:label="sbe-android-test" >
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>